body{
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: burlywood;
}
main{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sign-up-para{
    padding: 1rem 5rem;
    margin-bottom: 1.75rem;
    border-radius: 0.8rem;
    box-shadow: 0 8px rgb(93, 57, 3);
    background-color: chocolate;
}
.sign-up{
    width: 100%;
}
.sign-up-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2rem;
    border-radius: 0.8rem;
    box-shadow: 0 8px rgba(0,0,0,15);
    color: black;
    background-color:rgb(240, 237, 233);
}
.form-term{
    color:red;
    background-color: burlywood;
    border-radius: 0.8rem;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem 1.3rem;
}
.form-input{
    width: 100%;
    margin-bottom: 1em;
    position: relative;
}
.form-input span{
    position: absolute;
    top: 10%;
    right 0;
    padding: 0 0.5rem;
    border-radius: 0.8rem;
    background-color: brown;
    display: none;
}
.form-input.warning{
    display: inline-block;
}
.form-input{
    width: calc(100%-30px);
    padding: 10px;
    border: 2px solid;
    border-radius: 0.8rem;
    font-weight: 600;
}
.form-input p{
    margin: 0.2rem 0.75rem 0 0;
    display: none;
    font-size: 0.75rem;
    text-align: center;
    font-style: italic;
    color: red;
}
.submit-btn{
    cursor: pointer;
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    border: none;
    border-bottom: 5px solid green;
    border-radius: 0.8rem;
}.title{
    padding: 0;
    margin-bottom: 1em;
    font-size: 3rem;
    line-height: 2.7rem;
}